.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.blocksWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.1);
  width: 560px;
  height: 60%;
  border-radius: 15px;
  padding: 15px;
}

.formControl {
  width: 100%;
  margin-bottom: 15px;
}

.inputField {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 15px;
}

.registerButton {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 0.3s;
  background-color: #fff;
  color: #000000;
}

.registerButton:hover {
  transition: all ease-in-out 0.3s;
  background-color: rgba(7, 7, 7, 0.737);
  color: #fff;
}

.bottomWrap {
  p {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
  }

  .loginButton {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #fff;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
  }

  .loginButton:hover {
    background-color: rgba(7, 7, 7, 0.737);
    color: #fff;
    transition: all ease-in-out 0.3s;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
