.form {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 15px 0 15px;

  @media (max-width: 768px) {
    width: 650px;
  }

  @media (max-width: 425px) {
    width: 450px;
    padding: 15px 20px 0 20px;
  }
}

.input {
  padding: 10px;
  border: none;
}

.textarea {
  padding: 10px;
  margin-bottom: 15px;
  height: 200px;
  border: none;
}

.button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
}

.button:hover {
  background-color: #0056b3;
}
