.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;

  .searchBar__inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 500px;

    .searchBar__input {
      flex: 1;
      border: none;
      font-size: 18px;
      background-color: transparent;
      width: 555px;
      height: 37px;
      color: white;

      @media (max-width: 768px) {
        width: 400px;
      }

      @media (max-width: 425px) {
        width: 200px;
      }
    }

    .suggestionsContainer {
      list-style: none !important;
      padding: 0 10px;
    }

    .searchBar__icon {
      border: none;
      margin: 0 16px;
      cursor: pointer;

      &:last-child {
        margin-right: 16px;
      }
    }
  }
}
