.footer {
  background-color: var(--color-bg);
  color: var(--color-text);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
}

.footerContainer {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  margin: 0 auto;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer__left {
  display: flex;
  align-items: center;
  padding: 21px 0 16px 0;
  @media (max-width: 425px) {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.footer__text {
  margin-right: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.0024em;
}

.footer__textFirstPart {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.0024em;
  color: rgba(var(--color-text-rgb), 0.5);
  margin-right: 10px;
}

.footer__right {
  display: flex;
  align-items: center;
}

.footer__icon {
  width: 94.32px;
  height: 32px;
  margin-left: 10px;
}
