.navbar {
  max-width: 1140px;
  display: flex;
  justify-content: flex-end;
  padding: 24px 10px;
  gap: 32px;
  margin: 0 auto;

  @media (max-width: 768px){
    justify-content: space-evenly;
  }
}

.navbar__link {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

