.navbar {
  max-width: 1140px;
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  gap: 32px;
  margin: 0 auto;
}

.navbar__link {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}
