.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.navbar__link {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.navbar__link:last-child {
  margin-left: 20px;
}
