.articleBox {
  padding-top: 20px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.articleWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.articleTitle {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-direction: column;
  align-items: end;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: row;
  }

  svg {
    cursor: pointer;
  }
}

.articleEdit {
  text-align: center;
}
